body{
    background-image: url("./imagenes/rosalia2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
    color: red;
    font-size: 2em;
    text-align: center;
}

#descripcion{
    color: white;
    font-size: 1.5em; 
}

.derecha{
    width: 50%;
    float: right;
    text-align: right;
}

.izquierda{
    width: 50%;
    float: left;
}

.lista{
    color: white;
    font-size: 1.5em; 
}