body{
    background-image: url("./img/YamahaR1M.jpg");
    background-size: cover;
    background-position: center;
}

.titulo{
    color:blue;
    font-size: 4em;
    text-align: center;
}

.columna{
    width: 33.3%;
    color: white;
    font-size: 1.0em;
    float: left;
    text-align: left;
}
