* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-group {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
  text-align: left;  
}

.form-group h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

label {
  display: block;
}

.Marca {
  background: #24303c;
  border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
}

textarea {
  width: 100%;
  max-width: 100%;
  background: #24303c;
  border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
}

.button {
  width: 30%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
